<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Amazona</title>
</head>
<body>
  <div class="grid-container">
    <header class="row">
      <div>
        <a class="brand" href="#">Amazona</a>
      </div>
      <div>
        <a href="cart.html">cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <main>
      <ul>
        <li>first item</li>
        <li>second item</li>
        <li>third item</li>
      </ul>
    </main>
    <footer class="row center">
      all right reserved;
    </footer>
  </div>
</body>
</html>